# Lambdas and Built-In functions
### lambda, map, filter, all, any

## Lambdas syntax = lambda (parameter): (single expression)

In [ ]:
multiply = lambda a,b : a*b
multiply(5,5)

def square(num):
    return num*num

square_with_lambda = lambda num:num *num #sometimes called an anonymous function

print('without lambda: ',square(5))
print('with lambda: ',square_with_lambda(5))

## lambdas have no name

In [ ]:
print(square.__name__) # name of the function
print(square_with_lambda.__name__) # just lambda

## map, a standard function that accepts 2 args; a function and an iterable

In [ ]:
# map will allow you to apply a lambda expression to values in an iterable object
nums = list(range(1,11))
doubles = map(lambda n: n*2,nums)
# using list comprehension to create the list
[n for n in doubles] 

# using list() to create the list
triples = list(map(lambda n: n*3,nums)) 
triples

In [ ]:
names = ['growganoth','growch','seth','hamumu','patric']
upper_case = list(map(lambda up: up.upper(), names))
upper_case

In [ ]:
names = [
    {'first': 'Seth', 'last':'Robinson'},
    {'first': 'Mike', 'last':'Hommel'},
    {'first': 'Dragon','last':'Hand'}
]
first_names = list(map(lambda name: name['first'], names))
first_names

In [ ]:
# you can use maps without lambda, altho you gotta define the function first
def cube(x):
    return x**3
ans = list(map(cube,nums))
ans

In [ ]:
def decrement_list(l):
    return list(map(lambda n: n-1,l))

print(nums)
print(decrement_list(nums))

## filters, similar to maps but this one filters values using conditions

In [ ]:
evens = list(filter(lambda n: n % 2 ==0,nums))
print(evens)

# again you can use a regular function instead of lambdas
def even_only(x):
    if x % 2 == 0:
        return x
evens = list(filter(even_only,nums))
print(evens)

In [ ]:
names = ['plato','socrates','anaximander','thales','anaximedes','aristotle','cebes','heraclitus','alexander']
a_names = list(filter(lambda n: n[0] == 'a', names))
a_names

In [ ]:
philosophers = [
    {'name':'socrates','philosophy':['examine your life']},
    {'name':'diogenes','philosophy':['live with nature']},
    {'name':'nietzsche','philosophy':['find your why']},
    {'name':'jordan','philosophy':['clean up your room']},
    {'name':'viktor frankl','philosophy':['will to meaning']},
    {'name':'ryu','philosophy':[]}
]
active_philosophers = filter(lambda p: p['philosophy'], philosophers)
inactive_philosophers = filter(lambda p: not p['philosophy'], philosophers)
print(list(active_philosophers))
list(inactive_philosophers)

## combining filter and map

In [ ]:
inactive_philosophers_caps = list(map(lambda n: n['name'].upper(), 
                                      filter(lambda p: len(p['philosophy']) == 0,philosophers)))
inactive_philosophers_caps

In [ ]:
# just me practicing list comprehension
active_philosopher = [n for n in philosophers if n['philosophy'] ]
print(active_philosopher)
inactive_philosopher = [n['name'] for n in philosophers if not n['philosophy']]
inactive_philosopher

## all, returns True if all elements in an iterable are truthy

In [ ]:
# should return True
all([num for num in range(1,10) if num % 2 == 0])

# 'all' should return False because the list has a zero, zero is falsy
nums = list(range(0,10))
all([num for num in nums if num % 2 == 0])

## any, returns True if any of the elements in an iterable is truthy

In [ ]:
# should return True
nums = list(range(0,10))
any([num for num in nums if num % 2 == 0])

# should return False
any([num for num in nums if num % 2 == 2])

## generators, does not return a list. More light weight. Used for iterating once and not storing

In [ ]:
import sys
list_comp = sys.getsizeof([x*10 for x in range(1000)])
gen_exp = sys.getsizeof(x*10 for x in range(1000))
# size difference
print(list_comp)
print(gen_exp)

In [ ]:
any(num for num in nums if num % 2 == 2) # still works
(num for num in nums if num % 2 == 2) # this is a generator, this does not generate a list

In [ ]:
# checks if all elements in a list are strings
def is_all_strings(i):
    return all(type(s)==str for s in i)

## sorted, returns a new /copy sorted list from the items in iterable

In [ ]:
random_arrangement = [5,7,2,3,6,1,7,9,2,3,4,5]
print(random_arrangement)

#does not modify the list, only returns a copy of the sorted list
print(sorted(random_arrangement))
print(random_arrangement)

#modifies the list entirely 
random_arrangement.sort()
print(random_arrangement)

In [40]:
philosophers = [
    {'name':'socrates','philosophy':['an unexamined life is not worth living']},
    {'name':'diogenes','philosophy':['live with nature']},
    {'name':'nietzsche','philosophy':['what doesnt kill me, makes me stronger']},
    {'name':'jordan','philosophy':['clean up your room']},
    {'name':'viktor frankl','philosophy':['will to meaning']},
    {'name':'ryu','philosophy':[]}
]
friends = ('rachel','joey','monica','phoebe','ross','chandler')

## sorting a dictionary. key=lambda, specifies what and how a collection should be sorted

In [41]:
# sorts the dictionary by name
sorted(philosophers,key= lambda p:p['name'])

#sorts by the longest philosophy least to most
sorted(philosophers,key= lambda p:len(p['philosophy']))

#sorts by the longest philosophy most to least
sorted(philosophers,key= lambda p:len(p['philosophy']),reverse=True) # reverse = True

[{'name': 'socrates',
  'philosophy': ['an unexamined life is not worth living']},
 {'name': 'diogenes', 'philosophy': ['live with nature']},
 {'name': 'nietzsche',
  'philosophy': ['what doesnt kill me, makes me stronger']},
 {'name': 'jordan', 'philosophy': ['clean up your room']},
 {'name': 'viktor frankl', 'philosophy': ['will to meaning']},
 {'name': 'ryu', 'philosophy': []}]

## max and min
### max, returns largest item in an iterable or the largest of two or more arguments
### min, the contrary

In [42]:
print(max(list(range(40,1000))))
print(min(list(range(40,1000))))

999
40

In [43]:
max(philosophers,key=lambda p: len(p['name']))
max(friends,key= lambda n: len(n))

'chandler'

## Colt's samples

In [ ]:
names = ['Arya', "Samson", "Dora", "Tim", "Ollivander"]

# finds the minimum length of a name in names
min(len(name) for name in names) # 3

# find the longest name itself
max(names, key=lambda n:len(n)) #Ollivander

songs = [
	{"title": "happy birthday", "playcount": 1},
	{"title": "Survive", "playcount": 6},
	{"title": "YMCA", "playcount": 99},
	{"title": "Toxic", "playcount": 31}
]

# Finds the song with the lowerest playcount
min(songs, key=lambda s: s['playcount']) #{"title": "happy birthday", "playcount": 1}

# Finds the title of the most played song
max(songs, key=lambda s: s['playcount'])['title'] #YMCA

# returns min and max of an iterable into a tuple
def extremes(nums):
    return(min(nums), max(nums))

## reversed(), reverses an iterator
### list.reverse(), will only reverse lists in place

In [26]:
# useful if you want a reverse loop
for x in reversed(range(1,10)):
    print(x, end=' ')

nums = [1,2,3,4,5,6]
print(nums)

# reverses a list and alters the original list
nums.reverse()
print(nums)

# reverses the list back, but does not alter the original
print(list(reversed(nums)))
print(nums)

# reverse a string, and store it in a list
list(reversed('just a string'))

# if you just wanna reverse a string just use slicing
str(reversed('just a string')) # doesnt really work the way you want

# this is a way
print('just a string'[::-1])

# or this
print(''.join(list(reversed('just as tring'))))

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
gnirts a tsuj
gnirt sa tsuj
9 8 7 6 5 4 3 2 1

## abs(), sum(), round()

### fabs

In [30]:
# you already know what abs does, it takes an absolute value 
# fabs stands for float absolute value
from math import fabs

# this should return the absolute value
fabs(-1.3421)

1.3421

### sum, takes an iterable and an optional start, returns the start and the items of an iterable from left to right and returns the total

In [36]:
# adding a simple list

# returns 6
sum([1,2,3])

# returns 12, sstarts outside the list on the second parameter
sum([1,2,3],6)

12

## round, returns the number rounded to ndigits precision after decimal point

In [41]:
# rounds to 2 decimal points
round(3.345,2)

# it kinda slips and it cant get too precise on big decimals
round(9.999999999999999999999999999999999,15)

10.0

In [44]:
# takes the highest absolute value from a list
x=([300,123,-900])

def max_magnitude(x):
    return max(abs(n) for n in x)

max_magnitude(x)

900

In [54]:
# sums all even values
def sum_even_values(*args):
    return sum([n for n in args if n % 2 ==0])

sum_even_values(1,2,3,4,5,6,63,634,6347,7)

646

In [58]:
# sums all floats and returns 0 if there are no floats
def sum_floats(*args):
    if any([f for f in args if type(f) == float]):
        return sum(f for f in args if type(f) == float)
    else:
        return 0

0

## zip(collection1,collection2)
## zip, make an iterator that aggregates elements from each of the iterables
### returns an iterator of tuples, where the ith tuple containts the ith element from each of the argument sequences or iterables
### the iterator stops when the shortest input iterable is exhausted

In [90]:

# 2 lists inside a tuple, using the function zip, combines both the lists
nums1 = [1,2,3,4,5]
nums2 = [6,7,8,9,10]
words = ['no,','i','am','your','father!']

list(zip([1,2,4], [4,5,6])) # [(1,4),(2,5),(4,6)]

dict(zip([1,2,4], [4,5,6])) # {1: 4, 2: 5, 4: 6}

a = list(zip(nums1,nums2)) # [(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

b = dict(zip(nums1,nums2)) # {1: 6, 2: 7, 3: 8, 4: 9, 5: 10}

list(zip(nums1,nums2,words)) # parameters will be zipped in order

dict(zip(nums1,words))

{1: 'no,', 2: 'i', 3: 'am', 4: 'your', 5: 'father!'}

## unpacking a list using *

In [94]:
print(list(zip(*a)))

[(1, 2, 3, 4, 5), (6, 7, 8, 9, 10)]

## more complex zipping

In [14]:
midterms = [80,91,78]
finals = [98,89,53]
students = ['dan', 'ang', 'kate']

# using list comprehension
lc = [pair for pair in zip (midterms,finals)]

# to find the highest score use max
#sm = [max(pair) for pair in zip(students, midterms,finals)]

# returns dict with {student:highest score} USING DICT COMP
# {'dan': 98, 'ang': 91, 'kate': 78}
final_grades = {t[0]:max(t[1], t[2]) for t in zip(students, midterms, finals)}
print(final_grades)

{'dan': 98, 'ang': 91, 'kate': 78}

In [15]:
# returns dict with {student:highest score} (same thing as above) USING MAP+LAMBDA
# {'dan': 98, 'ang': 91, 'kate': 78}
final_grades = dict(
	zip(
		students,
		map(
			lambda pair: max(pair),
			zip(midterms, finals)
		)
	)
)

# returns dict with student:average score
# {'dan': 89.0, 'ang': 90.0, 'kate': 65.5}
avg_grades = dict(
	zip(
		students,
		map(
			lambda pair: ((pair[0]+pair[1])/2),
			zip(midterms, finals)
		)
	)
)

## Pretty difficult exercise

In [12]:
str1,str2 ='hi','ha'
def interleave(str1,str2):
    return ''.join(''.join(x) for x in (zip(str1,str2)))
print(interleave(str1,str2))

hhia

In [ ]:
def triple_and_filter(lst):
    return list(filter(lambda x: x % 4 == 0, map(lambda x: x*3, lst)))

In [ ]:
def extract_full_name(l):
    return list(map(lambda val: "{} {}".format(val['first'], val['last']), l))